<template>
  <div class="d-flex justify-center pa-10 ma-10 text-h3">
    <v-row class="d-flex justify-center align-center">
      <v-col cols="auto">
        <v-icon icon="mdi-check-decagram" color="primary" />
      </v-col>
      <v-col cols="auto">
        Task Manager
      </v-col>
    </v-row>
  </div>
</template>
