<template>
  <v-hover v-model="isHoveringCard" v-slot="{ props }" open-delay="10">
    <v-card rounded="lg" :elevation="isHoveringCard ? 5 : 0" :class="{ 'on-hover': isHoveringCard }" v-bind="props">
      <v-card-text>
        <v-row>
          <v-col cols="auto pa-0 d-flex align-center">
            <v-hover v-model="isHoveringCheckButton" v-slot="{ props }" open-delay="10">
              <v-btn icon flat :class="{ 'on-hover': isHoveringCheckButton }" v-bind="props" @click="updateTask">
                <v-icon>{{ checkButtonIcon }}</v-icon>
              </v-btn>
            </v-hover>
          </v-col>
          <v-col class="text-body-1 pl-0 font-weight-bold d-flex align-center">
            {{ task.title }}
          </v-col>
          <v-col class="d-flex justify-end align-center py-0" cols="auto">
            <v-btn v-if="isHoveringCard" class="ma-0" rounded="lg" color="error" flat size="small" @click="deleteTask">
              Delete
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-hover>
</template>

<script setup lang="ts">
import type TaskDTO from '@/model/TaskDTO'
import { PropType, computed, ref } from 'vue';

const isHoveringCard = ref(false);
const isHoveringCheckButton = ref(false);

const props = defineProps({
  task: { type: Object as PropType<TaskDTO>, required: true }
})

const emits = defineEmits(['updateTask', 'deleteTask'])

const checkButtonIcon = computed(() => {
  if (isHoveringCheckButton.value)
    return props.task.completed ? "mdi-circle-outline" : "mdi-check-circle-outline"
  return props.task.completed ? "mdi-check-circle-outline" : "mdi-circle-outline"
});

function updateTask() { emits('updateTask', props.task) }
function deleteTask() { emits('deleteTask', props.task.id) }
</script>
