<template>
  <v-card class="ma-3" rounded="lg" style="background-color:rgb(230, 230, 230)" flat>
    <v-card-title class="ma-2 font-weight-bold">
      <v-row>
        <v-col>
          <v-icon class="mr-2">{{ icon }}</v-icon>
          {{ title }}
        </v-col>
        <v-col cols="auto">
          <v-btn rounded="lg" color="primary" flat size="small" @click="hideOrShowTasks()">
            {{ hideOrShowButtonText }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card-title>
    <v-expand-transition>
      <v-card-text v-if="!hideTasks">
        <v-row v-for="task in tasks" :key="task.id" dense>
          <v-col cols="12">
            <task-list-item :task="task" @delete-task="deleteTask" @update-task="updateTask" />
          </v-col>
        </v-row>
      </v-card-text>
    </v-expand-transition>
  </v-card>
</template>

<script setup lang="ts">
import type TaskDTO from '@/model/TaskDTO'
import TaskListItem from './TaskListItem.vue';
import { PropType, computed, ref } from 'vue';

const hideTasks = ref(false);

const props = defineProps({
  completedTaskList: { type: Boolean, default: false },
  tasks: { type: Array as PropType<TaskDTO[]>, required: true }
})

const emits = defineEmits(['updateTask', 'deleteTask'])

const icon = computed(() => props.completedTaskList ? "mdi-clipboard-clock-outline" : "mdi-clipboard-check-outline")
const title = computed(() => props.completedTaskList ? "Completed" : "Tasks");

const hideOrShowButtonText = computed(() => hideTasks.value ? "Show" : "Hide");

function hideOrShowTasks() {
  hideTasks.value = !hideTasks.value;
}

function deleteTask(id: number) { emits('deleteTask', id); }
function updateTask(task: TaskDTO) {
  emits('updateTask', { ...task, completed: !props.completedTaskList })
}
</script>
