<template>
  <v-card class="mx-7" rounded="lg" flat @keydown.enter="addTask">
    <v-card-text class="d-flex justify-space-between align-center">
      <v-text-field class="my-n4 font-weight-bold" placeholder="New Task" variant="solo" flat hide-details="auto"
        rounded="lg" density="compact" v-model="title" />
      <span class="ml-5">
        <v-btn class="my-n2" color="primary" variant="text" icon size="small" @click="addTask">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </span>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const title = ref('');

const emits = defineEmits(['addTask'])

function addTask() {
  if (title.value.length === 0) return;

  emits('addTask', title.value);
  title.value = '';
}
</script>