<template>
  <v-app style="background-color: rgb(230, 230, 230);">
    <v-main class="d-flex justify-center">
      <span class="w-100" style="max-width: 750px;">
        <app-header />
        <v-expand-transition>
          <task-list v-if="!openTasksEmpty" :tasks="openTasks" @delete-task="deleteTask" @update-task="updateTask" />
        </v-expand-transition>
        <task-list-add-item @add-task="addTask" />
        <v-expand-transition>
          <task-list v-if="!completedTasksEmpty" :tasks="completedTasks" completed-task-list @delete-task="deleteTask"
            @update-task="updateTask" />
        </v-expand-transition>
      </span>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { computed, ref, onMounted } from 'vue';
import AppHeader from '@/components/AppHeader.vue';
import TaskList from '@/components/TaskList.vue';
import TaskListAddItem from '@/components/TaskListAddItem.vue';
import TaskApi from '@/api/TaskApi';
import TaskDTO from '@/model/TaskDTO';

const openTasks = computed(() => tasks.value.filter(task => !task.completed));
const completedTasks = computed(() => tasks.value.filter(task => task.completed));

const openTasksEmpty = computed(() => openTasks.value.length === 0);
const completedTasksEmpty = computed(() => completedTasks.value.length === 0);

const tasks = ref<TaskDTO[]>([]);

async function loadTasks() {
  tasks.value = (await TaskApi.getAllTasks());
}
onMounted(async () => loadTasks())

async function addTask(title: string) {
  await TaskApi.updateTask({
    id: null,
    title,
    completed: false
  });
  loadTasks();
}

async function deleteTask(id: number) {
  await TaskApi.deleteTask(id);
  loadTasks();
}

async function updateTask(task: TaskDTO) {
  await TaskApi.updateTask(task);
  loadTasks();
}
</script>
